/* Created By: Samadi-Tech */

/* Font Google */
@import url("https://fonts.googleapis.com/css2?family=Birthstone&family=Stint+Ultra+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;700&display=swap");

:root {
  --blue: #468ff6;
  --black: #0e0e0e;
  --red: #db3236;
  --white: #f8f9fa;
  --abu-abu: #7a7a7a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: url(../img/slide1.jpg) no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  height: auto;
}
.header-profile {
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}
.header-profile::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background-color: #f0f4f8;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 90%, 100% 10%, 100% 100%, 0 100%);
}
.bingkai-profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 300px;
  height: 250px;
  border: 3px solid #eee;
  z-index: 2;
}

.header-profile .border {
  position: absolute;
  top: -30%;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  box-shadow: 0px 0px 1px 3px white;
  background-color: transparent;
  border: 4px solid rgb(196, 187, 187);
  z-index: 10;
  overflow: hidden;
}
.header-profile img {
  width: 100%;
  position: relative;
  object-fit: cover;
  transition: 0.8s;
  cursor: pointer;
}
.header-profile img:hover {
  transform: scale(1.3);
}
.bingkai-profile .icon-profile {
  position: absolute;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  bottom: 0;
  z-index: 100;
}
.bingkai-profile .icon-profile .icon {
  font-size: 2em;
  color: rgb(170, 167, 167);
  cursor: pointer;
}

/* main */
.biodata {
  display: flex;
  justify-content: center;
  background-color: var(--white);
}
.container-profile {
  width: 60%;
}
.judul-profile {
  text-align: center;
  font-weight: lighter;
  padding: 1em;
  font-size: 2em;
}
.judul-profile h1 {
  font-family: "Birthstone", cursive;
  color: #468ff6;
}
.judul-profile h3 {
  font-family: "Stint Ultra Condensed", cursive;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

.content-biodata {
  margin: 3em 0;
  line-height: 2em;
  color: #7a7a7a;
}
.content-biodata p {
  text-indent: 3em;
}
