/* Created By: Samadi-Tech */

/* Font Google */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;500;700&display=swap");

:root {
  --blue: #468ff6;
  --black: #0e0e0e;
  --red: #db3236;
  --white: #f8f9fa;
  --abu-abu: #7a7a7a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: #e5e5e5;
  font-family: "Poppins", sans-serif;
  height: auto;
}
.tittle {
  text-align: center;
  padding: 1em;
}
.biodata {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 5rem;
  flex-wrap: wrap;
  border: 2px solid;
  width: auto;
}
.pic-bio {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.pic-bio img {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  box-shadow: 0px 0px 1px 3px white;
}
.content-bio {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.content-bio td:nth-child(1) {
  display: block;
  width: 200px;
  line-height: 3rem;
}
